body{
    margin: 0;
    font-size: 5vh;
    font-family: Tahoma;
    background-color: black;
}

#coordsBox {
    height: 10vh;
    width: 100vw;
    margin-top: 20vh;
    text-align: center;
    font-size: 3vh;
}


#userDetails {
    height: 7.5vh;
    width: 100vw;
    margin-top: 18vh;
    font-size: 2.5vh;
    color: rgba(255,255,255,0.5);
}
#userDetails > * {
    margin: 1vw;
}

#userDetails > div > span:nth-child(1) {
    width: 15vw;
    margin-right: 2.5vw;
}

#usernameDisplay, #roomNameDisplay{
    height: 4vh;
    width: 30vw;
    font-size: 2.5vh;
    color: rgba(255,255,255,0.3);
    border: none;
    text-align: center;
}

#signInButton{
    display: none;
}